@model Teledocer.Models.founder

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>founder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_add)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_add)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_reload)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_reload)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clients)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clients.Name_corp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Inn_uch">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
